body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 80px;
  border-bottom: 2px solid #ccc;
}

.main {
  padding: 40px 80px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: rgb(0, 191, 255);
  font-size: 18px;
}

.active {
  text-decoration: underline;
}

.active a {
  color: rgb(255, 0, 0);
}

.link-border {
  border-right: 3px solid #ccc;
  padding-right: 30px;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.logo img {
  width: 50px;
  height: 50px;
}
