body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 80px;
  border-bottom: 2px solid #ccc;
}

.main {
  padding: 40px 80px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: rgb(0, 191, 255);
  font-size: 18px;
}

.active {
  text-decoration: underline;
}

.active a {
  color: rgb(255, 0, 0);
}

.link-border {
  border-right: 3px solid #ccc;
  padding-right: 30px;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.logo img {
  width: 50px;
  height: 50px;
}

.rocket_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.rocket_row {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 20px;
}

.rocket-col {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.rocket_row img {
  width: 400px;
  height: 300px;
}

.rocket_row h2 {
  font-size: 30px;
  padding: 0;
  margin: 0;
}

.rocket_row p {
  font-size: 20px;
  width: 90%;
  letter-spacing: 1px;
  line-height: 1.5;
}

.Reserve_rocket {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(27, 80, 255);
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.cancel_Reservation {
  padding: 10px 20px;
  border: 1px solid rgb(153, 152, 152);
  border-radius: 5px;
  background-color: #fff;
  color: rgb(153, 152, 152);
  font-size: 18px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

table {
  border-collapse: collapse;
  text-indent: initial;
  border-spacing: 2px;
  font-size: 14px;
  font-weight: 800;
  border-color: #fcf9f9;
  width: 100%;
}

td {
  padding: 5px 3px;
}

.lightgray {
  background-color: #f2f2f2;
}

.desc {
  color: #807d7d;
  font-size: 12px;
  font-weight: 400;
}

.badge {
  width: max-content;
  background-color: rgb(84, 82, 82);
  color: #fff;
  font-size: 10px;
  padding: 3px;
  border-radius: 5px;
}

.badge-active {
  background-color: rgb(16, 169, 169);
}

button {
  width: max-content;
  padding: 5px 7px;
  border: 1px solid rgb(84, 82, 82);
  color: rgb(124, 123, 123);
  cursor: pointer;
}

.button-active {
  border: 1px solid rgb(243, 60, 81);
  color: rgb(243, 60, 81);
}

.profile {
  display: flex;
  gap: 30px;
}

.profile td {
  font-size: 12px;
  font-weight: 200;
  padding: 10px 10px;
}

.reservedMissions {
  flex: 1;
}

.reservedRockets {
  flex: 1;
}

.rocket-col span {
  padding: 5px 7px;
  margin: 0 10px 10px 0;
  border: none;
  border-radius: 5px;
  background-color: rgb(27, 171, 255);
  color: #fff;
  font-size: 18px;
  transition: all 0.4s ease-in-out;
}
